<nav>
    <div class="nave-wrapper topnav">
        <h4 class="wpScrape">Welcome to Washington Post Today</h4>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <nav class="button-group">
                        <button class="button-dark" id="scrape" data-toggle="modal">Scrape New Articles</button>
                        <a href="/articles/viewSaved"><button class="button-dark" id="viewSaved">View Saved
                                Articles</button></a>
                    </nav>

                </div>
            </div>
        </nav>
    </div>
</nav>