<!--Homepage-->
<div>
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Headlines from theWashington Post</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s2"></div>
        <div class="col s8 left-align">
            {{#each article}}
            <div class="card-panel">
                <div class="shadow p-3 mb-5 bg-white rounded border">
            <p>Headline: {{headline}}</p>
            <p>Summary: {{blurb}}</p>
            <p>Link: {{link}}</p>
            <p>{{> article-options}}</p>
        </div>

            {{/each}}
        </div>